<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>渠道合作-爱快iKuai</title>
		<!--先引用jq在引用bootstrap-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/apply.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/style.css" />
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap-select.js"></script>
	</head>
	<body>
		<!--导航栏begin-->
		<div class="head_iframe">
			<iframe align="center" width="100%" height="50px" src="head.html" frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
		</div>
			
		<!--导航栏end-->
		<div class="top_img container">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<img class="img-responsive" src="../assets/img/渠道合作.jpg" />
				</div>
			</div>
		</div>
		<br />
		
		<!--强大的产品-->
		
		<div class="text-center">
			<h1 class="title_h2">强大的产品</h1>
			<p class="title_p">Powerful Products</p>
		</div>
		<div class="cp container">
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<div class="text-right">
						<h4 class="cont_h4">充足的产品线</h4>
						<p class="cont_p">流控网关系列，路由系列，AP系列，一应俱全</p>
					</div>
				</div>
				<div class="col-md-6 col-xs-6">
					<div class="text-left">
						<h4 class="cont_h4">一体化的设备</h4>
						<p class="cont_p">集多线多拨，DPI流控，AC管理，Portal认证于一体</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<img class="cp_cont_img" src="../assets/img/HZS072201A.png" />
		</div>
		<br />
		<br />
		<br />
		<br />
		
		<!--完善的方案-->
		<div class="gray_bc">
			<div class="text-center">
			<h1 class="title_h2">完善的方案</h1>
			<p class="title_p">Perfect Solutions</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-xs-8">
					<img class="img-responsive" src="../assets/img/HZS072202A.png" />
				</div>
				<div class="fangan col-md-4 col-xs-4 "><!--垂直居中-->
					<h4 class="cont_h4">快捷部署</h4>
					<p class="cont_p">简单的部署，较低的施工成本，收获不简单的上网体验</p>
					<br />
					<h4 class="cont_h4">任意组网</h4>
					<p class="cont_p">上万家案例，各种场景应用，满足您一切组网需求</p>
				</div>
			</div>
		</div>
		</div>
		
		<br />
		<br />
		<br />
		<br />
		
		<!--广阔的前景-->
		
		<div class="text-center">
			<h1 class="title_h2">广阔的前景</h1>
			<p class="title_p">Bright Future</p>
		</div>
		<div class="qj_bg container">
			<div class="row">
				<div class="qj_cont col-md-6 col-xs-6 col-md-offset-6 col-xs-offset-6">
					<h4 class="cont_h4">丰厚的利润</h4>
					<p class="cont_p">广阔的市场，强大的产品，给您丰厚的利润空间</p>
					<br />
					<h4 class="cont_h4">持续的回报</h4>
					<p class="cont_p">成熟的大数据、广告营销平台，一次投入持续回报</p>
				</div>
				
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		
		
		<!--线上合作商-->
		<div class="gray_bc">
			<div class="text-center">
			<h1 class="title_h2">线上合作商</h1>
			<p class="title_p">Online Partners</p>
		</div>
		
		<div class="container">
			
			<!--淘宝-->
			
			<div class="row">
				<div class="hzs_h4 col-md-3">
					<h4>淘宝</h4>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/litianweiheng.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/feisuxun.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/gongzhou.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/hnoa.png" />
					</div>
				</div>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/ncyion.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/tzb1320.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/zhongliangongkong.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/bridgelogo.png" />
					</div>
				</div>
			</div>
			<br />
			<br />
			<!--京东-->
			
			<div class="row">
				<div class="hzs_h4 col-md-3">
					<h4>京东</h4>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/yanling.png" />
					</div>
				</div>
				<div class="col-md-2 col-xs-6 col-md-offset-1">
					<div class="text-center">
						<img class="hzs_img img-responsive" src="../assets/img/webwxgetmsgimg.png" />
					</div>
				</div>
			</div>
		</div>
		</div>
		
		<br />
		<br />
		<br />
		<br />
		
		
		<!--申请合作-->
		
		<div class="text-center">
			<h1 class="title_h2">申请合作</h1>
			<p class="title_p">Apply</p>
		</div>
		<br />
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-2">
    	 			<form class="sqhz form-horizontal">
    	 				<div class="form-group">
    	 					<label for="form_name" class="col-md-1">姓名</label>
    	 					<div class="col-md-7 col-xs-7">
    	 						<input type="text" class="form-control" id="form_name" />
    	 					</div>
    	 					<div class="col-md-1 col-xs-1 text-left">
    	 						<span class="text-danger">*</span>
    	 					</div>
    	 				</div>
    	 				<br />
    	 				<div class="form-group">
    	 					<label for="form_phone" class="col-md-1">电话</label>
    	 					<div class="col-md-7 col-xs-7">
    	 						<input type="text" class="form-control" id="form_phone" />
    	 					</div>
    	 					<div class="col-md-1 col-xs-1 text-left">
    	 						<span class="text-danger">*</span>
    	 					</div>
    	 				</div>
    	 				<br />
    	 				<div class="form-group">
    	 					<label for="form_pri" class="col-md-1">省份</label>
    	 					<div class="col-md-3 col-xs-3">
    	 						<select id="form_pri" class="form-control">
	    	 						<option selected="selected">北京</option>
	    	 						<option>天津</option>
	    	 						<option>河北</option>
	    	 						<option>山西</option>
	    	 						<option>内蒙古</option>
	    	 						<option>辽宁</option>
	    	 						<option>吉林</option>
	    	 						<option>黑龙江</option>
	    	 						<option>上海</option>
	    	 						<option>江苏</option>
	    	 						<option>浙江</option>
	    	 						<option>安徽</option>
	    	 						<option>福建</option>
	    	 						<option>江西</option>
	    	 						<option>山东</option>
	    	 						<option>河南</option>
	    	 						<option>湖北</option>
	    	 						<option>湖南</option>
	    	 						<option>广东</option>
	    	 						<option>广西</option>
	    	 						<option>海南</option>
	    	 						<option>重庆</option>
	    	 						<option>四川</option>
	    	 						<option>贵州</option>
	    	 						<option>云南</option>
	    	 						<option>西藏</option>
	    	 						<option>陕西</option>
	    	 						<option>甘肃</option>
	    	 						<option>青海</option>
	    	 						<option>宁夏</option>
	    	 						<option>新疆</option>
	    	 						<option>香港</option>
	    	 						<option>澳门</option>
	    	 						<option>台湾</option>
    	 						</select>
    	 					</div>
    	 					<div class="col-md-1 col-xs-1 text-left">
    	 						<span class="text-danger">*</span>
    	 					</div>
    	 				</div>
    	 				<br />
    	 				<br />
    	 				<div class="col-md-6 col-md-offset-4 col-xs-6 col-xs-offset-4">
    	 					<button class="btn btn-success">提交申请</button>
    	 				</div>
    	 			</form>
    	 		</div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		
		
		<!--与我们联系-->
		<div class="gray_bc">
			<div class="text-center">
				<h1 class="title_h2">与我们联系</h1>
				<p class="title_p">Contact us</p>
			</div>
			<br />
			<h4 class="contact_h4">北方业务大区</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<strong>北京、内蒙古</strong>
						<br /><br />
						<p>负责人：	陶宁</p>
						<p>电　话：	18513737871</p>
						<p>  Q Q：	859810090</p>
						<p>邮　箱：	ntao@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>天津、河北、黑龙江、吉林、辽宁</strong>
						<br /><br />
						<p>负责人：	王希强</p>
						<p>电　话：	17090303333</p>
						<p>  Q Q：	2275765796</p>
						<p>邮　箱：	xqwang@ikuai8.com</p>
					</div>
				</div>
			</div>
			<br />
			<h4 class="contact_h4">中部业务大区</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<strong>云南、西藏、新疆、河南（南阳 许昌 焦作 济源 洛阳 三门峡 平顶山）</strong>
						<br /><br />
						<p>负责人：	何树坡</p>
						<p>电　话：	18513756362</p>
						<p>  Q Q：	2593060256</p>
						<p>邮　箱：	sphe@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>陕西、山西</strong>
						<br /><br />
						<p>负责人：	李小龙</p>
						<p>电　话：	15514500816</p>
						<p>  Q Q：	895347504</p>
						<p>邮　箱：	xlli@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>甘肃、宁夏、青海、河南（新乡 安阳 商丘 周口 漯河 信阳 濮阳 鹤壁 开封）</strong>
						<br /><br />
						<p>负责人：	刘帅</p>
						<p>电　话：	15515896690</p>
						<p>  Q Q：	2035965731</p>
						<p>邮　箱：	sliu@ikuai8.com</p>
					</div>
				</div>
			</div>
			<br />
			<h4 class="contact_h4">东部业务大区</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<strong>上海、江苏</strong>
						<br /><br />
						<p>负责人：	张利甫</p>
						<p>电　话：	18513738556 / 18667184336</p>
						<p>  Q Q：	3024179770</p>
						<p>邮　箱：	lfzhang@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>浙江、福建</strong>
						<br /><br />
						<p>负责人：	韩超</p>
						<p>电　话：	13758212021</p>
						<p>  Q Q：	2645752330</p>
						<p>邮　箱：	chan@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>山东、安徽</strong>
						<br /><br />
						<p>负责人：	徐鼎</p>
						<p>电　话：	18853505363</p>
						<p>  Q Q：	2071095845</p>
						<p>邮　箱：	dxu@ikuai8.com</p>
					</div>
				</div>
			</div>
			<br />
			<h4 class="contact_h4">西南业务大区</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<strong>四川、贵州、重庆、湖南</strong>
						<br /><br />
						<p>负责人：	张锦东</p>
						<p>电　话：	18581995999 / 18513756396</p>
						<p>  Q Q：	3279622941</p>
						<p>邮　箱：	jdzhang@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>湖北、湖南（岳阳 益阳 常德）</strong>
						<br /><br />
						<p>负责人：	刘松</p>
						<p>电　话：	15527273516</p>
						<p>  Q Q：	2023034118</p>
						<p>邮　箱：	song.liu@ikuai8.com</p>
					</div>
				</div>
			</div>
			<br />
			<h4 class="contact_h4">华南业务大区</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<strong>深圳、海南</strong>
						<br /><br />
						<p>负责人：	胡丹</p>
						<p>电　话：	13724358056</p>
						<p>  Q Q：	1445135416</p>
						<p>邮　箱：	dhu@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>江西、广东（广州 佛山  中山  云浮  肇庆  清远  韶关  江门  阳江  湛江）香港、澳门、台湾</strong>
						<br /><br />
						<p>负责人：	郑壹</p>
						<p>电　话：	13686419216</p>
						<p>  Q Q：	2565734282</p>
						<p>邮　箱：	yzheng@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>广西、广东（东莞  珠海  惠州  梅州  潮州  汕尾  揭阳  汕头）</strong>
						<br /><br />
						<p>负责人：	廖岐</p>
						<p>电　话：	18664995329</p>
						<p>  Q Q：	3139333925</p>
						<p>邮　箱：	qliao@ikuai8.com</p>
					</div>
					<div class="col-md-3">
						<strong>广东（茂名、河源）</strong>
						<br /><br />
						<p>负责人：	黄良</p>
						<p>电　话：	13725587026</p>
						<p>  Q Q：	95182942</p>
						<p>邮　箱：	lhuang@ikuai8.com</p>
					</div>
				</div>
			</div>
			<br />
			<h4 class="contact_h4">海外业务</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<strong>Foreign market（agencies、OEM、ODM）</strong>
						<br /><br />
						<p>Name：	zhihang Yang</p>
						<p>Email：	zhyang@ikuai8.com</p>
						<p>Tel：	0086-18513756331</p>
						<p>Skype：	zhyang@ikuai8.com</p>
						<p>WhatsApp：	18513756331</p>
					</div>
				</div>
			</div>
			<h4 class="contact_h4">网络安全审计业务合作</h4><br />
			<div class="contact_div container">
				<div class="row">
					<div class="col-md-3">
						<p>负责人：	张鹏</p>
						<p>电　话：	18201204155</p>
						<p>   Q Q：	2927157309</p>
						<p>邮　箱：	pzhang@ikuai8.com</p>
					</div>
				</div>
			</div>
	</div>	
	
	<!--尾部-->
        <iframe align="center" width="100%" height="360px" src="foot.html"  frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
	</body>
</html>
