<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--先引用jq在引用bootstrap-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../assets/bootstrap/css/style.css" />
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--  尾部   -->
		
		<!--footer-->
		<div class="footer">
			<div class="container-fluid">
				<div class="row-fluid show-grid">
					<div class="col-sm-8 col-md-7 col-lg-8 clearfix">
						<div class="col-xs-4 col-md-4 ">
							<div class="footer-guild">
								<h6>技术服务</h6>
								<p><a href="#3">技术论坛</a></p>
								<p><a href="#">技术教程</a></p>
								<p><a href="#">技术咨询</a></p>
								<p><a href="#">售后服务</a></p>

							</div>
						</div>

						<div class="col-xs-4 col-md-4">
							<div class="footer-guild">
								<h6>渠道合作</h6>
								<p><a href="#">合作方式</a></p>
								<p><a href="#">投诉邮箱</a></p>
								<p><a href="#">各区域负责人</a></p>
							</div>
						</div>

						<div class="col-xs-4 col-md-4">
							<div class="footer-guild">
								<h6>关于爱快</h6>
								<p><a href="#">爱快介绍</a></p>
								<p><a href="#">公司动态</a></p>
								<p><a href="#">联系我们</a></p>
								<p><a href="#">爱快官方技术博客</a></p>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-3 col-lg-3">
						<div class="footer-servie">
							<div class="H20"></div>
							<h2 style="line-height:30px; font-weight:normal;">400-877-3227</h2>
							<p style="line-height:20px;">技术支持电话</p>
							<div class="H10">&nbsp;</div>
							<p style="line-height:20px;">企业QQ：4008773227</p>
							<div class="H10">&nbsp;</div>
							<p style="line-height:20px;">周一至周五&nbsp;9:00 - 20:30</p>
							<div class="H10">&nbsp;</div>
							<p style="line-height:20px;">QQ交流群：424849939</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-2 col-lg-1">
						<div class="footer-wecha">
							<div class="H20"></div>
							<img style=" width:98px;" src="../assets/img/qrCode.png" />
							<!--<p style="font-size:15px; background-color: #C9302C;">关注微信</p>-->
							<div style="width: 98px; font-size: 15px;">关注官方微信</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="footer-copyright">
							<span>Copyright © 2012 - 2017 iKuai. All Rights Reserved. </span>
							<span> 京ICP备13042604号</span>
							<br />
							<span>版权所有 全讯汇聚网络科技（北京）有限公司</span>
					<br>北京市丰台区南四环西路186号汉威国际广场三期6号楼501-503
                </div>
            </div>

		</div>
	</div>
</div>
	
<!--footer-end--> 
	</body>
</html>