<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>场景案例</title>
		<!--引入bookstrap的css文件里面第一了很多的css样式规则-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />

		<!--boosstrap的js功能是通过jquery框架实现的，所以需要先引入该框架-->
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../assets/bootstrap/js/mycase.js"></script>
		<link rel="stylesheet" href="../assets/bootstrap/css/style.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/mycase.css" />
		
	</head>

	<body class="body">
			<div class="head_iframe">
				<iframe align="center" width="100%" height="50px" src="head.html" frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
			</div>
		<div class="main">
			<img src="../assets/img/logo.PNG" class="img-responsive" />
		</div>

		<!--
			标题
        -->
		<div class="middle">
			<div class="middle main">
				<h3 class="note">场景案例</h3>
			</div>
			<!--
				模块的布局
            -->

			<div class="middle title">
				<ul class="example">
					<li class="pitch">全部</li>
					<li>酒店</li>
					<li>学校</li>
					<li>商场</li>
					<li>景区</li>
					<li>医院</li>
					<li>会场</li>
				</ul>

				<!--全部-->

				<ul id="example-1" class="example-list">
					<!--酒店-->
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-1-001.jpg"="天津曼哈顿酒店" />
							<h3 class="example-h3">天津曼哈顿酒店</h3>
							<p class="example-p">四星级集客房、餐饮、多功能宴会厅、会议中心、商务中心、娱乐、健身房等服务设施为一体的豪华商务型酒店。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-1-002.jpg" alt="东莞市曼佧特国际大酒店" />
							<h3 class="example-h3">东莞市曼佧特国际大酒店</h3>
							<p class="example-p">五星级商务酒店，楼层达26层，高99米，为区域最高建筑。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-1-003.jpg" alt="深圳前岸国际酒店" />
							<h3 class="example-h3">深圳前岸国际酒店</h3>
							<p class="example-p">集餐饮、会议、住房、水疗、康体于一体，是一座极具先锋艺术代表的地标性建筑。</p>
						</div>
					</li>

					<!--学校-->
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-2-001.jpg" alt="北京八维研修学院" />
							<h3 class="example-h3">北京八维研修学院</h3>
							<p class="example-p">现拥有PC机万余台，是经北京市教委批准的全日制现代职业教育高等院校。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-2-002.jpg" alt="广州新东方烹饪学校" />
							<h3 class="example-h3">广州新东方烹饪学校</h3>
							<p class="example-p">中国粤菜烹饪教育第一品牌，是广东省目前规模最大、最专业的烹饪技能培训学校。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-2-003.jpg" alt="北方汽车专修学校" />
							<h3 class="example-h3">北方汽车专修学校</h3>
							<p class="example-p">在石家庄、广州、郑州、沈阳、济南、西安、成都、苏州等地开设了8所同等规模的分校，是一所系统化培训汽车人才的独立专业职业学校。</p>
						</div>
					</li>

					<!--商场-->
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-001.jpg" alt="北京西单新一代商场" />
							<h3 class="example-h3">北京西单新一代商场</h3>
							<p class="example-p">一家集小商品销售、餐饮、休闲、娱乐等功能于一体的综合性特色商品市场。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-002.jpg" alt="北京新年华购物中心" />
							<h3 class="example-h3">北京新年华购物中心</h3>
							<p class="example-p">七个经营楼层的精品时尚购物中心。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-003.jpg" alt="长春市欧亚卖场" />
							<h3 class="example-h3">长春市欧亚卖场</h3>
							<p class="example-p">欧亚卖场目前已经拥有四十万平方米的营业面积，是目前我国规模最大的现代化商贸购物中心。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-004.jpg" alt="昆明金源购物中心" />
							<h3 class="example-h3">昆明金源购物中心</h3>
							<p class="example-p">总建筑面积53.5万平方，是西南地区单体面积最大的购物中心。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-005.jpg" alt="乌鲁木齐奥特莱斯" />
							<h3 class="example-h3">乌鲁木齐奥特莱斯</h3>
							<p class="example-p">占地面积5.4万平方米，打造购物、餐饮、娱乐为一体的综合性商业。</p>
						</div>
					</li>

					<!--景区-->
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-4-001.jpg" alt="苏州拙政园" />
							<h3 class="example-h3">苏州拙政园</h3>
							<p class="example-p">占地78亩（约合5.2公顷）。全园以水为中心，山水萦绕，厅榭精美，花木繁茂，具有浓郁的江南汉族水乡特色。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-4-002.jpg" alt="北京昌平苹果主题公园" />
							<h3 class="example-h3">北京昌平苹果主题公园</h3>
							<p class="example-p">园区占地800余亩，是北京最大规模的苹果主题公园。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-4-003.jpg" alt="张家界黄龙洞 AAAA景区" />
							<h3 class="example-h3">张家界黄龙洞 AAAA景区</h3>
							<p class="example-p">黄龙洞地处核心景区，属典型的喀斯特岩溶地貌，张家界旅游精品线之一，享有绝世奇观之美誉。</p>
						</div>
					</li>

					<!--医院-->

					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-5-001.jpg" alt="贝尔耳鼻喉专科医院" />
							<h3 class="example-h3">贝尔耳鼻喉专科医院</h3>
							<p class="example-p">贝尔耳鼻咽喉专科医院是一所由浏阳市卫生局审核批准的一所湖南省特色耳鼻咽喉专科医院。</p>
						</div>
					</li>

					<!--会场-->
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-001.jpg" alt="微信公开课Pro版" />
							<h3 class="example-h3">2016微信公开课Pro版</h3>
							<p class="example-p">地点：广州保利世贸博览馆（安全支付场馆）</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-002.jpg" alt="2016湖南卫视跨年演唱会" />
							<h3 class="example-h3">2016湖南卫视跨年演唱会</h3>
							<p class="example-p">湖南卫视主办，现场人数约18000人。地点：国家体育馆</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-003.jpg" alt="2015全球创新者大会暨APEC青年创业家峰会" />
							<h3 class="example-h3">2015全球创新者大会暨APEC青年创业家峰会</h3>
							<p class="example-p">APEC工商咨询理事会、APEC中国工商理事会主办，地址：北京市朝阳区将台路14</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-004.jpg" alt="2015iWeb峰会暨第四届HTML5峰会" />
							<h3 class="example-h3">2015iWeb峰会暨第四届HTML5峰会</h3>
							<p class="example-p">Html5梦工场主办，地点：北京国际会议中心</p>
						</div>
					</li>

					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-005.jpg" alt="2015全球营销烧脑夜第二弹•鸟巢站 " />
							<h3 class="example-h3">2015全球营销烧脑夜第二弹•鸟巢站</h3>
							<p class="example-p">蓝色光标传播集团、品牌训练营、活动树主办，地点：鸟巢</p>
						</div>
					</li>

					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-006.jpg" alt="WISE2.0 36氪创业生态大会" />
							<h3 class="example-h3">WISE2.0 36氪创业生态大会</h3>
							<p class="example-p">36氪主办，地点：北京国家会议中心</p>

						</div>
					</li>
				</ul>

				<!--酒店-->
				<ul class="example-list" style="display:none;">

					<li class="col-xs-12 col-sm-2 col-md-2"></li>

					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-1-001.jpg" alt="天津曼哈顿酒店" />
							<h3 class="example-h3">天津曼哈顿酒店</h3>
							<p class="example-p">四星级集客房、餐饮、多功能宴会厅、会议中心、商务中心、娱乐、健身房等服务设施为一体的豪华商务型酒店。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-1-002.jpg" alt="东莞市曼佧特国际大酒店" />
							<h3 class="example-h3">东莞市曼佧特国际大酒店</h3>
							<p class="example-p">五星级商务酒店，楼层达26层，高99米，为区域最高建筑。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-1-003.jpg" alt="深圳前岸国际酒店" />
							<h3 class="example-h3">深圳前岸国际酒店</h3>
							<p class="example-p">集餐饮、会议、住房、水疗、康体于一体，是一座极具先锋艺术代表的地标性建筑。</p>
						</div>
					</li>

				</ul>

				<!--学校-->
				<ul class=" example-list" style="display:none;">
					<li class="col-xs-12 col-sm-2 col-md-2"></li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-2-001.jpg" alt="北京八维研修学院" />
							<h3 class="example-h3">北京八维研修学院</h3>
							<p class="example-p">现拥有PC机万余台，是经北京市教委批准的全日制现代职业教育高等院校。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-2-002.jpg" alt="广州新东方烹饪学校" />
							<h3 class="example-h3">广州新东方烹饪学校</h3>
							<p class="example-p">中国粤菜烹饪教育第一品牌，是广东省目前规模最大、最专业的烹饪技能培训学校。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-2-003.jpg" alt="北方汽车专修学校" />
							<h3 class="example-h3">北方汽车专修学校</h3>
							<p class="example-p">在石家庄、广州、郑州、沈阳、济南、西安、成都、苏州等地开设了8所同等规模的分校，是一所系统化培训汽车人才的独立专业职业学校。</p>
						</div>
					</li>

				</ul>

				<!--商场-->
				<ul class="example-list" style="display:none;">

					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-001.jpg" alt="北京西单新一代商场" />
							<h3 class="example-h3">北京西单新一代商场</h3>
							<p class="example-p">一家集小商品销售、餐饮、休闲、娱乐等功能于一体的综合性特色商品市场。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-002.jpg" alt="北京新年华购物中心" />
							<h3 class="example-h3">北京新年华购物中心</h3>
							<p class="example-p">七个经营楼层的精品时尚购物中心。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-003.jpg" alt="长春市欧亚卖场" />
							<h3 class="example-h3">长春市欧亚卖场</h3>
							<p class="example-p">欧亚卖场目前已经拥有四十万平方米的营业面积，是目前我国规模最大的现代化商贸购物中心。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-004.jpg" alt="昆明金源购物中心" />
							<h3 class="example-h3">昆明金源购物中心</h3>
							<p class="example-p">总建筑面积53.5万平方，是西南地区单体面积最大的购物中心。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-3-005.jpg" alt="乌鲁木齐奥特莱斯" />
							<h3 class="example-h3">乌鲁木齐奥特莱斯</h3>
							<p class="example-p">占地面积5.4万平方米，打造购物、餐饮、娱乐为一体的综合性商业。</p>
						</div>
					</li>
				</ul>

				<!--景区-->
				<ul class=" example-list" style="display:none;">
					<li class="col-xs-12 col-sm-2 col-md-2"></li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-4-001.jpg" alt="苏州拙政园" />
							<h3 class="example-h3">苏州拙政园</h3>
							<p class="example-p">占地78亩（约合5.2公顷）。全园以水为中心，山水萦绕，厅榭精美，花木繁茂，具有浓郁的江南汉族水乡特色。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-4-002.jpg" alt="北京昌平苹果主题公园" />
							<h3 class="example-h3">北京昌平苹果主题公园</h3>
							<p class="example-p">园区占地800余亩，是北京最大规模的苹果主题公园。</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-4-003.jpg" alt="张家界黄龙洞 AAAA景区" />
							<h3 class="example-h3">张家界黄龙洞 AAAA景区</h3>
							<p class="example-p">黄龙洞地处核心景区，属典型的喀斯特岩溶地貌，张家界旅游精品线之一，享有绝世奇观之美誉。</p>
						</div>
					</li>
				</ul>

				<!--医院-->
				<ul class="example-list" style="display:none;">
					<li class="col-xs-12 col-sm-4 col-md-4"></li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-5-001.jpg" alt="贝尔耳鼻喉专科医院" />
							<h3 class="example-h3">贝尔耳鼻喉专科医院</h3>
							<p class="example-p">贝尔耳鼻咽喉专科医院是一所由浏阳市卫生局审核批准的一所湖南省特色耳鼻咽喉专科医院。</p>
						</div>
					</li>

				</ul>

				<!--会场-->
				<ul class="example-list" style="display:none;">
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-001.jpg" alt="微信公开课Pro版" />
							<h3 class="example-h3">2016微信公开课Pro版</h3>
							<p class="example-p">地点：广州保利世贸博览馆（安全支付场馆）</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-002.jpg" alt="2016湖南卫视跨年演唱会" />
							<h3 class="example-h3">2016湖南卫视跨年演唱会</h3>
							<p class="example-p">湖南卫视主办，现场人数约18000人。地点：国家体育馆</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-003.jpg" alt="2015全球创新者大会暨APEC青年创业家峰会" />
							<h3 class="example-h3">2015全球创新者大会暨APEC青年创业家峰会</h3>
							<p class="example-p">APEC工商咨询理事会、APEC中国工商理事会主办，地址：北京市朝阳区将台路14</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-004.jpg" alt="2015iWeb峰会暨第四届HTML5峰会" />
							<h3 class="example-h3">2015iWeb峰会暨第四届HTML5峰会</h3>
							<p class="example-p">Html5梦工场主办，地点：北京国际会议中心</p>
						</div>
					</li>
					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-005.jpg" alt="2015全球营销烧脑夜第二弹•鸟巢站 " />
							<h3 class="example-h3">2015全球营销烧脑夜第二弹•鸟巢站</h3>
							<p class="example-p">蓝色光标传播集团、品牌训练营、活动树主办，地点：鸟巢</p>
						</div>
					</li>

					<li class="col-xs-12 col-sm-3 col-md-3">
						<div class="example-box">
							<img class="example-img" src="../assets/img/example-6-006.jpg" alt="WISE2.0 36氪创业生态大会" />
							<h3 class="example-h3">WISE2.0 36氪创业生态大会</h3>
							<p class="example-p">36氪主办，地点：北京国家会议中心</p>
						</div>
					</li>
				</ul>

			</div>
		</div>
		
		<!--尾部-->
		<iframe align="center" width="100%" height="360px" src="foot.html" frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
		 
	</body>

</html>