<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/product.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/style.css" />
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js" ></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js" ></script>
	</head>
	<body>
		
		<!--导航-->
		<div class="head_iframe">
		<iframe align="center" width="100%" height="50px" src="head.html" frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
   		</div>
		<!--头部-->
		<div class="header">
			<img src="../assets/img/pheader.PNG" />
		</div>
		<!--下载-->
		<div class="clearfix">
		<div class="container">
			<div class="row-fluid">
				<div class="h40"></div>
				<div class="col-md-12">
					<div class="fc tc">
						<h2>产品下载</h2>
						<p style="font-size: 20px; color: #8C8C8C;">Product Download</p>
					</div>
				</div>
				<div class="h40"></div>
				
				<div class="col-md-push-1 col-xs-11">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="margin20 clearfix">
						<div class="f1">
							<div class="dowmload2"><p>2</p></div>
						</div>
						<div class="f1">
							<div class="margin10 margin-l-30">
								<h4>历久弥新 · 经典版</h4>
								<p class="h20"></p>
								<a class="dowmload_hp">免费下载</a>
								<p class="h20"></p>
								<p >
									<a>帮助手册</a>
									|
									<a>更新日志</a>
									|
									<a>历史版本</a>
									|
									<a>转换工具</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 didi">
							<p class="h20"></p>
							<p>版本号：iKuai8_2.7.14_Build20171207</p>
							<p class="h20"></p>
							<p>更新时间： 2017-12-07</p>
							<p>软件大小： 30M+</p>
							<p class="h20"></p>
							<p>默认管理地址：192.168.1.1</p>
							<p>默认用户名/密码：admin/admin</p>
							<p class="h20"></p>
						</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="margin20 clearfix">
						<div class="f1">
							<div class="dowmload3"><p>3</p></div>
						</div>
						<div class="f1">
							<div class="margin10 margin-l-30">
								<h4>新鲜出炉 · 蜕变版</h4>
								<p class="h20"></p>
								<a class="dowmload_hp">免费下载</a>
								<p class="h20"></p>
								<p >
									<a>帮助手册</a>
									|
									<a>更新日志</a>
									|
									<a>转换工具</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 didi">
							<p class="h20"></p>
							<p>版本号：iKuai8_3.0.2_Build20171229</p>
							<p class="h20"></p>
							<p>更新时间： 2017-12-07</p>
							<p>软件大小： 20M+</p>
							<p class="h20"></p>
							<p>默认管理地址：192.168.1.1</p>
							<p>默认用户名/密码：admin/admin</p>
							<p class="h20"></p>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr style="height:1px;border:none;border-top:1px solid #0088CC;" />
		<!--产品介绍-->
		<div class="container">
			<div class="row">
				<div class="h40"></div>
				<div class="col-md-12">
					<div class="fc tc">
						<h2>爱快硬件</h2>
						<p style="font-size: 20px; color: #8C8C8C;">iKuai Hardware</p>
					</div>
				</div>
				<div class="h40"></div>
				
				<div class="col-xs-12 col-sm-4 col-md-5">
					<img src="../assets/img/J05.png" />
				</div>
				<div class="col-xs-12 col-sm-8 col-md-7">
					<div class style="padding: 10px 0 10px 20px;">
					<h4 style="color: #555; position: relative;">
						<span>POE交换机 IK-J05</span>
					</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div style=" padding-left: 20px; padding-bottom: 10px;">
						<strong style="color: #0088CC;">参数</strong>
						<p>
							型　　号：IK-J05
						<br />
						<span style="letter-spacing: -0.02em;">POE供电</span>
						: 4口
						
						<br />
						网　　口：100M
                            <br />
						
						端　　口：5个10/100M自适应电口
                            <br />
                                                单口最大供电功率：15.4W
                            
                        	<br />    
                                               通信协议：IEEE802.3 af
                            <br />
                            
                            输出功率：65W（整机）
                            <br />
                            电　　源：外置
                            <br />
                            电压输入：100V~240V AC； 50-60Hz 
      						<br />
                            电压输出：52V DC
                            <br />
                            
                            协议支持：IEEE 802.3
                            <br />
                            　　　　　IEEE 802.3i 10BASE-T
                            <br />
                            　　　　　IEEE 802.3u，100BASE-TX 
                            <br />
                            　　　　　IEEE 802.3x 
                            <br />
                            　　　　　IEEE 802.3af Power over Ethernet
                            <br />
                            功能支持：支持MAC地址学习
							<br />
                            　　　　　支持广播风暴抑制功能
                            <br />
                            　　　　　支持固化VLAN端口隔离
                            <br />
                            尺　　寸：110*75*23（mm）
                        
						</p>
						
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-7" style="float: right;">
					<div class style="padding: 10px 0px 10px 20px;">
						<div class style="padding: 10px 0px 10px 0px;">
							<a class="btn btn-danger" target="_blank" href="#">
								&nbsp;京东购买&nbsp;
							</a>
						</div>
					</div>
				<hr style="height:1px;border:none;border-top:1px solid #0088CC;" />
				</div>
				
				
				<!---->
				<div class="col-xs-12 col-sm-4 col-md-5">
					<img src="../assets/img/M20.png" />
				</div>
				<div class="col-xs-12 col-sm-8 col-md-7">
					<div class style="padding: 10px 0 10px 20px;">
					<h4 style="color: #555; position: relative;">
						<span>企业级路由 IK-M20</span>
					</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div style=" padding-left: 20px; padding-bottom: 10px;">
						<strong style="color: #0088CC;">参数</strong>
						<p>
							
						型　　号：IK-M20
						<br />
						
						网络接口：1个百兆WAN口,4个百兆LAN口
						<br />
						尺　　寸：81mmx89mmx 21mm  
                            <br />
						
						供　　电：DC12V 500mA 
                            <br />
                                                带机数量：20+
						</p>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-5 col-md-4">
					<div class style="padding-left: 20px; padding-bottom: 10px;">
						<strong style="color: #0088CC;">功能</strong>
						<p>
							
						最小的DPI七层流控路由，支持一键流控和手工流控 
						<br />
						3200
						<br />
						<sub>+</sub>
						应用协议识别，让流控更精准，提高带宽利用率 
						<br />
						
						具有AC智能管理功能，配合爱快AP使用，轻松管理AP
						<br />
						
						行为管理，明确划分上网权限，定制上网策略
						<br />
						支持爱快云平台管理，远程跨区域集中管理和维护
						<br />
						支持多条线路叠加上网，提高传输速率 
						<br />
						支持MAC黑白名单管理，一键防蹭网
						<br />
						支持VPN，加密通讯的专用网络，确保远程访问的安全
						<br />
						支持无线营销功能，10种认证方式满足不同用户、不同场景需求
                    <br />
						
						
						
						</p>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-8 col-md-7" style="float: right;">
					<div class style="padding: 10px 0px 10px 20px;">
						<div class style="padding: 10px 0px 10px 0px;">
							<a class="btn btn-danger" target="_blank" href="#">
								&nbsp;京东购买&nbsp;
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<!--尾部-->
		<iframe align="center" width="100%" height="360px" src="foot.html" frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
   		
	</body>
</html>
